/*************
 General STYLING
*************/

body {
    height: 5000px;
    color: white;
    background-color: #F1EDEE;
}

/*************
 NAV STYLING
*************/

#desktop-nav .logo{
    float: left;
}

#desktop-nav ul {
    float: right;
}

#desktop-nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

#desktop-nav ul li a {
    color: white;
    text-decoration: none;
}

#desktop-nav ul li a:hover {
    opacity: 0.5;
}

#mobile-nav {
    display: none;
}

#mobile-nav ul {
    display: none;
}

/*************
 Hamburger STYLING
*************/

#mobile-nav span {
    display: block;
    width: 25px;
    height: 5px;
    margin: 3px;
    background-color: green;
}

/*************
 clearfix STYLING

 in general, what this does is use the :after pseudo selector to insert a blank table
 at the end of your floats. This then clears both sides so that you can restore the normal
 flow of your html document
*************/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*************
 Master header STYLING
*************/

.masthead {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/clouds.jpeg');
    background-size: cover;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    text-shadow: 0px 0px 0em black;
}

.title img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    text-shadow: 0px 0px 0em black;
}

/*************
About STYLING
*************/
.about-section{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/flour.jpg');
    background-size: cover;
}

.about-section img {
    position: absolute;
    height: 100px;
    width: 100px;
    box-shadow: 2px 1px 2px black;
    left: 50%;
    top: 110vh;
    border-radius: 50%;
}

.about-section h2{
    position: absolute;
    left: 1%;
    top: 100vh;
}

/*but I dont want the text to be affected by opacity D:*/
.about-section p{
    position: absolute;
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 30%;
    top: 130vh;
    background-color: black;
    opacity: 0.5;
}

.about-section p:hover{
    position: absolute;
    width: 600px;
    padding: 20px;
    left: 30%;
    top: 130vh;
    background-color: black;
    opacity: 0.8;
    transition: 100ms
}

/*************
Portfolio STYLING
*************/
.portfolio-section{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/computer.jpeg');
    background-size: cover;
}

.portfolio-section h2{
    position: absolute;
    left: 1%;
    top: 200vh;
}

#portfolio-contents{
    position: absolute;
    top: 230vh;
    margin: auto 35%;
    color: black;
    width: 500px;
    background-color: white;
    opacity: 0.5;
    padding: 20px;
}

#portfolio-contents img{
    position: relative;
    margin: auto 35%;
}

#portfolio-contents img:hover{
    position: relative;
    margin: auto 35%;
}

/*************
Portfolio STYLING
*************/
.contact-section{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/phone.jpg');
    background-size: cover;
}

.contact-section h2{
    position: absolute;
    left: 1%;
    top: 300vh;
}

/*************
 media queries STYLING
*************/

@media (max-width: 500px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
}
